<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_taxonomia"><button type="button" class="btn btn-default">Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="taxonomy in taxonomies">
          <div class="row">
            <div class="col-md-3">
              
              <h4><b>{{taxonomy.type_of_company}}</b></h4>       
              <p>{{taxonomy.description}}</p>
              <p>Código: {{taxonomy.code}}</p>    
              

            </div>
            <div class="col-md-5">
              Ciclos:<br>
              <div class="cycles-box">
                <div class="boxes-thumb" ng-repeat="cycle in cycles" ng-if="cycle.taxonomy==taxonomy.id">
                  <center>
                    {{cycle.name}}
                  </center>
                </div>
              </div>
            </div>
            
          </div> 
          <div class="row">  
            <div class="col-md-12">
              <a href="#editar_taxonomia/{{taxonomy.id}}"><button type="button" class="btn btn-default">Editar</button></a>
              <a href="#ciclos/{{taxonomy.id}}"><button type="button" class="btn btn-primary">Gestionar Ciclos</button></a>
              <a ng-click="delete(taxonomy.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>  
            </div>
          </div>        
        </div><!-- /showback -->

				
			</div>
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->