<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       
<form ng-submit="send()">
      <div class="form-group has-feedback">
        <input ng-model="new_taxonomy.type_of_company" type="text" class="form-control" placeholder="Nombre" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <textarea ng-model="new_taxonomy.description" class="form-control" rows="5" id="description" placeholder="Descripción" required></textarea>
        <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="new_taxonomy.code" type="text" class="form-control" placeholder="Código">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      

      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Guardar</button>
          
        </div>
        <div class="col-xs-2">
          
          <button ng-click="delete(new_taxonomy.id)" class="btn btn-danger btn-block btn-flat">Eliminar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->