<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       
<form class="form" name="myForm">
      <div class="form-group has-feedback">
        <input ng-model="new_challenge.name" type="text" class="form-control" placeholder="Nombre">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <textarea ng-model="new_challenge.description" class="form-control" rows="5" id="description" placeholder="Descripción"></textarea>
        <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
      </div>

      <p>Fecha tope:</p>
      <input type="date" ng-model="new_challenge.ending_date" class="form-control pull-right">
      
      <p>Encargado:</p>                
      <angucomplete id="in_charge_id"
      placeholder="Encargado"
      pause="100"
      selectedobject="inChargeId"
      localdata="users"
      searchfields="username"
      titlefield="username"
      minlength="1"
      inputclass="form-control form-control-small" ng-model="inChargeId"/>
      </angucomplete><br>
      <p>Insignia:</p>    
      <select class="form-control" ng-model="new_challenge.badge_id" ng-options="badge.name for badge in badges track by badge.id">
      </select>


      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-4">
          <span style="color:red">{{errorMessage}}</span><br>
          <button type="submit" 
          ng-click="send()" class="btn btn-primary btn-block btn-flat">Crear</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->