<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_desafio"><button type="button" class="btn btn-default">Crear Nuevo</button></a>
				<!-- BASIC BUTTONS -->
        <br><br>
        <div class="showback-challenge" ng-repeat="challenge in challenges">
          <div class="row">

            
            <div class="col-md-3">
              
              <h4>{{challenge.name}}</h4>   
              <p>{{challenge.description}}</p>  
              <p>Encargado:</p>  
              <b>{{challenge.in_charge.username}}</b>  
              
            </div>
           
          </div>                
        </div><!-- /showback -->
				
			</div>
			
		
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->