<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       
<form ng-submit="send()">
      Usuario:<br>
      <b>{{ pending_object.in_charge.username }}</b> 
      <br><br>
      Nombre:<br>
      <b>{{pending_object.name}}</b>   
      <br><br>
      Descripción:<br>
      <p>{{pending_object.description}}</p>   
      

      
      Entrega enviada por la persona a cargo:<br>
      {{pending_object.delivery_text}}<br>
      <a href="{{pending_object.delivery_file}}">{{pending_object.delivery_file}}</a>

      <br><br>

      <textarea ng-model="new_challenge.comments" class="form-control" rows="5" id="description" placeholder="Comentarios" required></textarea>
      <br>
      <div class="form-group has-feedback">
        Desafío completado:<input ng-model="new_challenge.ready" type="checkbox"><br>
        <b>(Marcar si el desafío fue realizado satisfactoriamente, dejar desmarcado si la entrega no fue satisfactoria y se debe repetir)</b>
        
      </div>


      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
        </div>
        
        <!-- /.col -->
      </div>
    </form>


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->