<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       
    <form class="form" name="myForm">
      <div class="form-group has-feedback">
        <input ng-model="new_screenshot.employees_number" type="number" class="form-control" placeholder="Número de Empleados" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="new_screenshot.employees_salary" type="number" class="form-control" placeholder="Salario total pagado a empleados mensualmente" required>
        <span class="glyphicon glyphicon-stats form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="new_screenshot.approved_stages" type="number" class="form-control" placeholder="Número de Etapas aprobadas" required>
      </div>
      <div class="form-group has-feedback">
        Marcar si la empresa ha culminado todas las etapas: 
        <input ng-model="new_screenshot.graduated" type="checkbox">
      </div>


        

      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" 
          ng-click="send(file)" class="btn btn-primary btn-block btn-flat">Crear</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->