<section id="main-content">
    <section>
    <div class="row mt">
      <div class="col-lg-12 col-md-12 col-sm-12">
       
    <form class="form" name="myForm">
      <div class="form-group has-feedback">
        <p>Periodo del Estado:</p>
        <p>Inicio:</p>
                       
        <input type="date" ng-model="new_screenshot.start_date" class="form-control pull-right">

        <p>Fin:</p>
        
        <input type="date" ng-model="new_screenshot.ending_date" class="form-control pull-right">
      </div>
      <br><br>
      <div class="form-group has-feedback">        

        <input ng-model="new_screenshot.companies_number" type="number" class="form-control" placeholder="Número de Empresas Incubadas Activas" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">        

        <input ng-model="new_screenshot.companies_number" type="number" class="form-control" placeholder="Número de Empresas Graduadas" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input ng-model="new_screenshot.earnings" type="number" class="form-control" placeholder="Ganancias del periodo" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="form-group has-feedback">
        <input ng-model="new_screenshot.earnings" type="number" class="form-control" placeholder="Ganancias de las empresas incubadas en el periodo" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" 
          ng-click="send(file)" class="btn btn-primary btn-block btn-flat">Crear</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    </div>
          
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->