<section id="main-content">
    <section>
    <div class="row mt">
      <div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_estado_incubadora"><button type="button" class="btn btn-default">Crear Nuevo</button></a>
        <a href="#resumen_estados_incubadora"><button type="button" class="btn btn-primary">Ver Resumen</button></a>
        <br><br>
        <!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="screenshot in screenshots">
          <div class="row">
            <div class="col-md-12">
              
              <h4><i class="fa fa-camera"></i> {{screenshot.created | date:'medium'}}</h4>    
              <p>Número de empleados: {{screenshot.companies_number}}</p>            
              
              <a href="#ver_estado_incubadora/{{screenshot.id}}"><button type="button" class="btn btn-info btn-width">Ver Detalle</button></a>
              

              <br><br>
              
            </div>
            
          </div>                
        </div><!-- /showback -->



        
    
        
      </div>
      
      
      
      
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->