<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        
        <div class="showback">
          <div class="row">
            <div class="col-md-12">
              
              <h4><i class="fa fa-camera"></i> {{screenshot.created | date:'medium'}}</h4>    
              <p>Número de empresas: {{screenshot.companies_number}}</p>            
              <p>Ganancias del periodo: {{screenshot.earnings}}</p>        
              
            </div>
            
          </div>                
        </div><!-- /showback -->



				
		
				
			</div>
			
			
			
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->