<section id="main-content">
    <section>
    <div class="row mt">
      <div class="col-lg-12 col-md-12 col-sm-12">
       

        <table style="width:100%">
          <tr>
            <th>Creado</th>
            <th>Número de Etapas Aprobadas</th> 
            
          </tr>
          <tr ng-repeat="screenshot in screenshots">
            <td>{{screenshot.created | date:'medium'}}</td>
            <td>{{screenshot.number_of_stages_approved}}</td> 
            
          </tr>
          
        </table>
       


        
    
        
      </div>
      
      
      
      
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->