
<script src="views/file_manager/bower_components/angular-translate/angular-translate.min.js"></script>
<script src="views/file_manager/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="views/file_manager/bower_components/bootswatch/paper/bootstrap.min.css" />

<script src="views/file_manager/src/js/app.js"></script>
<script src="views/file_manager/src/js/directives/directives.js"></script>
<script src="views/file_manager/src/js/filters/filters.js"></script>
<script src="views/file_manager/src/js/providers/config.js"></script>
<script src="views/file_manager/src/js/entities/chmod.js"></script>
<script src="views/file_manager/src/js/entities/item.js"></script>
<script src="views/file_manager/src/js/services/apihandler.js"></script>
<script src="views/file_manager/src/js/services/apimiddleware.js"></script>
<script src="views/file_manager/src/js/services/filenavigator.js"></script>
<script src="views/file_manager/src/js/providers/translations.js"></script>
<script src="views/file_manager/src/js/controllers/main.js"></script>
<script src="views/file_manager/src/js/controllers/selector-controller.js"></script>
<link href="views/file_manager/src/css/animations.css" rel="stylesheet">
<link href="views/file_manager/src/css/dialogs.css" rel="stylesheet">
<link href="views/file_manager/src/css/main.css" rel="stylesheet">

<script type="text/javascript">

</script>



<angular-filemanager></angular-filemanager>