<!doctype html>
<html>

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sistema Incubación PTS</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="dist/css/style.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">

  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-app = "main" ng-controller = "MainController" class="login-page">
<div class="loading-div" ng-show="loading"><img src="http://orig06.deviantart.net/df77/f/2013/094/8/d/loading_logofinal_by_zegerdon-d60eb1v.gif" /></div>
<!--              LOGIN                   -->
<div id="login" class="hold-transition" ng-show="loginShow">
<div class="login-box">
  <div class="login-logo">
    <a href="{{baseURL}}"><img src="dist/img/logo-pts.png" width="200"/></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Inicia sesión</p>

    <form ng-submit="submit()">
      <div class="form-group has-feedback">
        <input ng-model="user.username" type="text" class="form-control" placeholder="Usuario">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="user.password" type="password" class="form-control" placeholder="Contraseña">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Recuérdame 
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    {{message}}
    <br>
   
    <!-- /.social-auth-links -->

    <a href="#">Olvidé mi contraseña</a><br>
    <a ng-click="signUp()" class="text-center pointer">Registrarme</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


</div>
<!--              /LOGIN                   -->
<!--              SIGN UP                   -->

<div id="signup" class="hold-transition" ng-show="signUpShow">
<div class="login-box">
  <div class="login-logo">
    <a ng-click="home()" class="pointer"><img src="dist/img/logo-pts.png" width="200"/></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Registro</p>

    <form ng-submit="signingUp()">
      <div class="form-group has-feedback">
        <input ng-model="usersign.username" type="text" class="form-control" placeholder="Nombre de Usuario (Único)" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="usersign.first_name" type="text" class="form-control" placeholder="Nombre" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="usersign.last_name" type="text" class="form-control" placeholder="Apellido" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="usersign.email" type="text" class="form-control" placeholder="Email" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input ng-model="usersign.password1" type="password" class="form-control" placeholder="Contraseña" required>
        
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        
        <input ng-model="usersign.password2" type="password" class="form-control" placeholder="Repetir Contraseña" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" value="Sign Up" class="btn btn-primary btn-block btn-flat">Enviar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>
    {{message}}
    <br>
  
  </div>
 
</div>

</div>

<!--              /SIGN UP                   -->

<div class="hold-transition skin-blue sidebar-mini" id="principalDiv" ng-show="dashboardShow" ng-class="collapseClass">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a ng-click="home()" class="logo pointer">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" style="color:#424a5d">PTS</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><img src="dist/img/logo-pts.png" width="100px"></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <div class="sidebar-toggle pointer" data-toggle="offcanvas" ng-click="collapse()" id="button-navigation">
        <span class="sr-only">Toggle navigation</span>
      </div>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          
          
          <li class="dropdown user user-menu" ng-class="userClass">
            <a ng-click="logout()" class="pointer">Cerrar Sesión</a>
            
          </li>
          
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      
      
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">NAVEGACIÓN PRINCIPAL</li>
        
        <li ng-click="no_collapse()"><a href="#tablero"><i class="fa fa-bar-chart text-green"></i> <span>Tablero</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager || showMentor"><a href="#empresas"><i class="fa fa-building text-aqua"></i> <span>Empresas</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin"><a href="#usuarios"><i class="fa fa-group text-yellow-sun"></i> <span>Usuarios</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager"><a href="#estados_incubadora"><i class="fa fa-camera text-black"></i> <span>Estados Incubadora</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager"><a href="#plantillas"><i class="fa fa-navicon text-teal"></i> <span>Plantillas</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager"><a href="#niveles"><i class="fa fa-line-chart text-fuchsia"></i> <span>Niveles</span></a></li>
        <li ng-click="no_collapse()"><a href="#pendientes"><i class="fa fa-calendar-o text-yellow-sun"></i> <span>Pendientes Revisión</span>
          
        </a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager || showMentor"><a href="#desafios"><i class="fa fa-rocket text-aqua"></i> <span>Desafíos</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager || showMentor"><a href="#insignias"><i class="fa fa-certificate text-lime"></i> <span>Insignias</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager"><a href="#historias"><i class="fa fa-asterisk text-white"></i> <span>Historias</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager"><a class="pointer" ng-click="filemanager()"><i class="fa fa-folder-open text-yellow-opaque"></i> <span>Archivos</span></a></li>
        <li ng-click="no_collapse()" ng-show="showAdmin">
          <a href="#salas">
            <i class="fa fa-group text-green"></i> <span>Salas del Foro</span>
            
          </a>
        </li>
        <li>
          <a href="{{baseURL}}chat/">
            <i class="fa fa-newspaper-o text-light-blue"></i> <span>Foro</span>
            
          </a>
        </li>
       <li class="header" ng-show="showAdmin || showManager">VISTAS USUARIO EMPRESA</li>
        <li ng-click="no_collapse()" ng-show="showAdmin || showManager"><a href="#inicio_empresa"><i class="fa fa-home text-teal"></i> <span>Inicio</span></a></li>
        
        


      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        {{page_title}}
       
        <!--{{message}}-->
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Tablero</li>
      </ol>
      <br>
        {{main_message}}
    </section>

    <!-- Main content -->
    
    <section class="content" ng-view>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      
    </div>
    <strong>Copyright &copy; 2017 <a href="http://www.pts.org.ve">Parque Tecnológico Sartenejas</a>.</strong> Todos los derechos reservados
  </footer>


  
</div>
<!-- ./wrapper -->


<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<!-- Angular Management -->


<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-cookies.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.1/angular-translate.min.js"></script>


<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>




<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- angular-filemanager
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-filemanager/1.5.1/angular-filemanager.min.css"> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filemanager/1.5.1/angular-filemanager.min.js"></script>

<script src = "dist/js/main.js"></script>
<script src = "dist/js/angular/templates.js"></script>
<script src = "dist/js/angular/stages.js"></script>
<script src = "dist/js/angular/tasks.js"></script>
<script src = "dist/js/angular/levels.js"></script>
<script src = "dist/js/angular/badges.js"></script>
<script src = "dist/js/angular/challenges.js"></script>
<script src = "dist/js/angular/companies.js"></script>
<script src = "dist/js/angular/company_user.js"></script>
<script src = "dist/js/angular/pending.js"></script>
<script src = "dist/js/angular/screenshots.js"></script>
<script src = "dist/js/angular/logs.js"></script>
<script src = "dist/js/angular/rooms.js"></script>
<script src = "dist/js/angular/users.js"></script>
<script src = "dist/js/angucomplete.js"></script>








<!-- iCheck -->
<script src="plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="plugins/iCheck/icheck.min.js" type="text/javascript"></script>

<!-- Bootstrap WYSIHTML5 -->
<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>

<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>


</div>
</body>
</html>

