<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_plantilla"><button type="button" class="btn btn-default">Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="template in templates">
          <div class="row">
            <div class="col-md-3">
              
              <h4><b>{{template.type_of_company}}</b></h4>       
              <p>{{template.description}}</p>
              <p>Código: {{template.code}}</p>    
              

            </div>
            <div class="col-md-5">
              Etapas:<br>
              <div class="stages-box">
                <div class="boxes-thumb" ng-repeat="stage in stages" ng-if="stage.template==template.id">
                  <center>
                    {{stage.name}}
                  </center>
                </div>
              </div>
            </div>
            
          </div> 
          <div class="row">  
            <div class="col-md-12">
              <a href="#editar_plantilla/{{template.id}}"><button type="button" class="btn btn-default">Editar</button></a>
              <a href="#etapas/{{template.id}}"><button type="button" class="btn btn-primary">Gestionar Etapas</button></a>
              <a ng-click="delete(template.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>  
            </div>
          </div>        
        </div><!-- /showback -->

				
			</div>
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->