<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        
				<!-- BASIC BUTTONS -->
        <div class="showback-challenge" ng-repeat="pending_object in pendingChallenges">
          <div class="row">
            <div class="col-md-3">
              

            
              <h3>{{pending_object.in_charge.username }}</h3> 
              <h4><i class="fa fa-rocket"></i>{{pending_object.name}}</h4>   
              
              <p>{{pending_object.sent_date | date:'medium'}}      </p>               
              
              
              

            </div>                
          </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#revisar_desafio/{{pending_object.id}}"><button type="button" class="btn btn-default">Revisar</button></a>
            
           
          </div>
        </div>
        
      </div>

        <div class="showback-task" ng-repeat="pending_object in pending">
          <div class="row">
            <div class="col-md-3">
              

              <h3 ng-if="pending_object.story_have_not_template == false">{{ pending_object.company.name }}</h3> 
              <h3 ng-if="pending_object.story_have_not_template == true">{{ pending_object.in_charge.username }}</h3> 
              <h4 ng-if="pending_object.story_have_not_template == false">{{pending_object.task.name}}</h4>   
              <h4 ng-if="pending_object.story_have_not_template == true">{{pending_object.name_not_template}}</h4>
              <p>{{pending_object.sent_date | date:'medium'}}      </p>               
              
              
              

            </div>                
          </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#revisar_tarea/{{pending_object.id}}"><button type="button" class="btn btn-default">Revisar</button></a>
            
           
          </div>
        </div>
				
			</div>
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->