<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       
<form class="form" name="myForm">
      <div class="form-group has-feedback">
        <input ng-model="new_company.name" type="text" class="form-control" placeholder="Nombre">
        <span class="glyphicon form-control-feedback">*</span>
      </div>
      <div class="form-group has-feedback">
        <textarea ng-model="new_company.description" class="form-control" rows="5" id="description" placeholder="Descripción"></textarea>
        <span class="glyphicon form-control-feedback">*</span>
      </div>


      <div class="form-group has-feedback">
        <input ng-model="new_company.externalFilesFolder" type="text" class="form-control" placeholder="Dirección Carpeta de Archivos">
        <span class="glyphicon glyphicon-link form-control-feedback"></span>
      </div>


      <div class="form-group has-feedback">
        <input ng-model="new_company.businessName" type="text" class="form-control" placeholder="Razón Social">
        </div>

      <div class="form-group has-feedback">
        <input ng-model="new_company.legalRepresentative" type="text" class="form-control" placeholder="Representante Legal">    
      </div>

      

      <div class="form-group has-feedback">
      Logo <span class="glyphicon form-control-feedback">*</span>
       <input class="form-group has-feedback" type="file" ngf-select ng-model="picFile" name="file"    
       accept="image/*" ngf-max-size="500KB" ngf-model-invalid="errorFile" width="100px" height="100px">
       <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      
      </div>

      
      
      <i ng-show="myForm.file.$error.maxSize">Archivo muy grande 
      {{errorFile.size / 1000000|number:1}}MB: max 500KB</i>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
        ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

      <span style="color:red">{{errorMessage}}</span>
      <div class="row">
        
        <!-- /.col -->

        <div class="col-xs-4">
          <button type="submit" 
          ng-click="send(picFile)" class="btn btn-primary btn-block btn-flat">Crear</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->