<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_empresa" ng-show="showAdmin || showManager"><button type="button" class="btn btn-default" >Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="company in companies">
          <div class="row">
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-2" ng-if="company.image">
                  <img ng-src="{{company.image}}" class="thumb"/>
                </div>
              </div>
              <h4>{{company.name}}</h4>                
              <a href="#editar_empresa/{{company.id}}" ng-show="showAdmin || showManager"><button type="button" class="btn btn-primary btn-width">Gestionar</button></a><br><br>
              <a href="#estados/{{company.id}}" ><button type="button" class="btn btn-info btn-width"><i class="fa fa-camera"></i> Ver Estados</button></a><br><br>
              <a ng-click="delete(company.id)" ng-show="showAdmin || showManager"><button type="button" class="btn btn-danger btn-width">Eliminar</button></a>
            </div>
            <div class="col-md-3">
              
              <p><b>Nivel: {{company.level.name}}</b></p>
              <p>Plantilla: {{company.template.type_of_company}}</p>
              <a href="{{company.externalFilesFolder}}">{{company.externalFilesFolder}}</a>
            </div>
            <div class="col-md-6">
              <p><h3>Descripción</h3></p>
              <p>{{company.description}}</p>                    
            </div>
          </div>                
        </div><!-- /showback -->



				
		
				
			</div>
			
			
			
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->