<section id="main-content">
    <section>
		<div class="row mt">
    
			<div class="col-lg-12 col-md-12 col-sm-12">
      <select ng-change="changeCompany(companyId.id)" class="form-control" ng-model="companyId" ng-options="company.name for company in companies track by company.id" required>  
      </select>
      20% Complete
       <div class="progress progress-sm active">

          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
      <p><h3>Nivel</h3></p>
      {{level.name}}

      <p><h3>Ciclo Actual</h3></p>
      {{stage.name}}


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->