<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        
				<!-- BASIC BUTTONS -->
        
        <div class="showback-task" ng-repeat="task_s in task_stories track by $index">
          <form name="myForm">
            <div class="row">
              <div class="col-md-3">
                
                <h4>{{task_s.task.name}}</h4>       
                <p>{{task_s.task.description}}</p>
                <div ng-if="task_s.in_charge.username">
                  Encargado actual: {{task_s.in_charge.username}}
                </div>  
                <div ng-if="task_s.creator">
                  Creador: {{task_s.creator.username}}
                </div>
                <div ng-if="task_s.area">
                  Área: {{task_s.area.name}}
                </div>               
                <div ng-if="task_s.status">
                  Status: {{task_s.status.name}}
                </div>
                <div ng-if="task_s.points">
                  Puntos: {{task_s.points}}
                </div>
                <div ng-if="task_s.start_date">
                  Inicio: {{task_s.start_date | date:'d/M/yy'}}         
                </div>
                <div ng-if="task_s.ending_date">
                  Fin: {{task_s.ending_date | date:'d/M/yy'}}
                </div>
                
                <hr>
                <p>Inicio:</p>
                       
                <input type="date" ng-model="task_story.start_date[task_s.id]" class="form-control pull-right">

                <p>Fin:</p>
                
                <input type="date" ng-model="task_story.ending_date[task_s.id]" class="form-control pull-right">
                <p>Área:</p>
                <select class="form-control" ng-model="task_story.task_area_id[task_s.id]" ng-options="task_area.name for task_area in task_areas track by task_area.id">
                </select>

                <p>Status:</p>
                <select class="form-control" ng-model="task_story.status_id[task_s.id]" ng-options="status.name for status in all_status track by status.id">
                </select>

                <p>Puntaje:</p>
                <input type="number" ng-model="task_story.points[task_s.id]" class="form-control pull-right">

                <p>Encargado:</p>                
                <angucomplete id="in_charge_id{{task_s.id}}"
              placeholder="Encargado"
              pause="100"
              selectedobject="inChargeId"
              localdata="users"
              searchfields="username"
              titlefield="username"
              minlength="1"
              inputclass="form-control form-control-small" ng-model="inChargeId"/>
               

              </div>   
              
              
            </div>
          <div class="row">
            <div class="col-md-12">
              <button ng-click="save(task_s.id,$index)" type="submit" class="btn btn-primary">Guardar</button>
              
              <!--<a ng-click="delete(task_s.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>-->
            </div>
          </div>
				</form>
			</div>
      
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->