<section id="main-content">
    <section>
    <div class="row mt">
      <div class="col-lg-12 col-md-12 col-sm-12">
       
    <form class="form" name="myForm">
      
      <div class="form-group has-feedback">        

        <input ng-model="new_room.name" type="text" class="form-control" placeholder="Nombre de Sala" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      

      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" 
          ng-click="send()" class="btn btn-primary btn-block btn-flat">Crear</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    </div>
          
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->