<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_sala" ng-show="showAdmin"><button type="button" class="btn btn-default">Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="room in rooms">
          <div class="row">
            <div class="col-md-12">
              
              <h4>{{room.name}}</h4>    
              
              
              <a ng-click="delete(room.id)"><button type="button" class="btn btn-danger btn-width">Eliminar</button></a><br><br>
              
            </div>
            
          </div>                
        </div><!-- /showback -->



				
		
				
			</div>
			
			
			
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->