<div class="row-fluid">
 <div class="span4 left-col">
    <h2>Lobby</h2>
    <p>Mensajes más nuevos por sala</p>
 </div>

 <div class="span6 right-col">
  <div ng-repeat="room in newest">
   <table class="table table-condensed">
    <thead>
        <tr><td colspan=3><strong>{{room.name}}</strong></td></tr>
    </thead>
    <tbody>
        <tr ng-repeat="entry in room.newest">
            <!--<td><img ng-src="{{entry.writer.img}}" height="25" width="25"/></td>-->
            <td>{{entry.writer.name}}</td>
            <td>{{entry.content}}</td>
        </tr>
    </tbody>
   </table>
  </div>
 </div>

</div>
