<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <!--<a href="#crear_usuario"><button type="button" class="btn btn-default">Crear Nuevo</button></a>-->
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="user_p in user_profiles" ng-show="user_p.user.username!='ptsadmin'">
          <div class="row">
            <div class="col-md-12">              
	          	<h4>Usuario: <b>{{user_p.user.username}}</b></h4>
	          	<b>Grupo:</b><br>
	          	<p>{{user_p.permissionGroup.name}}</p>
	          	<div ng-show="user_p.permissionGroup.name=='Mentores'">
	          		<b>Empresas:</b><br>
	          		<div ng-repeat="linked_company in user_p.linked_companies">
	          			{{linked_company.name}}
	          		</div>
	          		<hr>
	          	</div>
	          	<!--Change to customize-->
	          	<div ng-show="user_p.permissionGroup.name=='JD Empresa'">
	          		<b>Empresa:</b><br>
	          		{{user_p.company.name}}
	          		<hr>
	          	</div>
	          	<p>Cambiar permisos:</p>
	          	<select class="form-control" ng-model="permissionGroupId[user_p.id]" ng-options="permissionGroup.name for permissionGroup in permissionGroups track by permissionGroup.id" ng-change="update(user_p.id)" required>
	    		</select>
	    		<br>
	    		<div ng-show="selectCompany[user_p.id]">
		    		<p>Empresa:</p>
		    		<select class="form-control" ng-model="companyId[user_p.id]" ng-options="company.name for company in companies track by company.id" >
		    		</select>
	    		</div>
	    		<div ng-show="selectCompanyMentor[user_p.id]">
		    		<p>Empresas:</p>
		    		
		    		<select ng-repeat="newCompany in divCompanies" class="form-control" ng-model="companiesId[user_p.id][newCompany.select_id]" ng-options="company.name for company in companies track by company.id" >
		    		</select>
		    		<br>
		    		<button type="button" class="btn btn-default" ng-click="addCompany(divCompanies)">+ Agregar</button>
	    		</div>
	    		<br>
	    		
          		<a ><button type="button" class="btn btn-primary" ng-click="change(user_p.id)">Aplicar Cambios</button></a>
              	

            </div>
            
            
          </div>                
        </div><!-- /showback -->



				
		
				
			</div>
			
			
			
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->