<section id="main-content">
    <section>
    <div class="row mt">
    
      <div class="col-lg-12 col-md-12 col-sm-12">
      
      {{progress}}% Completado
       <div class="progress progress-sm active">

          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
            <span class="sr-only">20% Complete</span>
          </div>
        </div>
        <div class="row">
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <center>
            <div class="col-md-2">
              <p><h3>{{currentCompany.name}}</h3></p>
              <div class="row">
                <img ng-src="{{currentCompany.image}}" class="thumb"/><br>
              </div>
            </div>
            <div class="col-md-2">
              <p><h3>Nivel</h3></p>
              <div class="row">
                
                <img ng-src="{{level.image}}" class="thumb"/><br>
                
                  {{level.name}}
                
                
              </div>
            </div>
            <div class="col-md-3">
              <p><h3>Etapa Actual</h3></p>
              <div class="row">
                <h4>{{stage.name}}</h4>
                <a href="{{stage.externalFilesFolder}}">{{stage.externalFilesFolder}}</a>
              </div>
              <div class="row">
                <p><h3>Puntaje</h3></p>
                <h4>{{points}}</h4>                
              </div>
            </div>
            <div class="col-md-5">
              <h3>Insignias</h3>
              <p>{{descriptionBadge}}</p>
              <div class="row" >
                  <img ng-repeat="badge_c in company_badges" ng-mouseover="descriptionBadgeF(badge_c)" width= "80px" src="{{badge_c.image}}"  class="thumb">
              </div>
              <div class="row" >
                  <img ng-repeat="badge in user_badges" ng-mouseover="descriptionBadgeF(badge)" width= "80px" src="{{badge.image}}"  class="thumb">
              </div>
            </div>
            </center>
          </div>
        </div>
      
      
       
      <div class="row">
        <hr>
        <div class="col-md-12">
          <h4>Tareas</h4>
          <a href="#crear_tarea_usuario">
            <button class="btn btn-default btn-block btn-flat">Crear Nueva</button><br>
          </a>

          Filtrar:
          <select ng-model="typeOfTask" ng-change="changeFilter()" class="form-control">
            <option value="challenges">Todos los Desafíos</option>
            <option value="pending-challenges">Desafíos Pendientes</option>
            <option value="sent-challenges">Desafíos Enviados</option>
            <option value="challenges-ready">Desafíos Listos</option>
            <option value="all-tasks">Todas las Tareas</option>
            <option value="pending">Tareas Pendientes</option>
            <option value="sent">Tareas Enviadas</option>
            <option value="ready">Tareas Listas</option>
            
          </select>
          <br><br>

          <div ng-repeat="challenge in challenges" ng-class="{'showback-challenge':(!challenge.sent && !challenge.accepted) || challenge.sent ,'showback-task-green': challenge.accepted}">
          <div class="row">
            <div class="col-md-9">
              
              <h4><i class="fa fa-rocket"></i> {{challenge.name}}</h4>   
              
              <p>{{challenge.description}}</p>              
              <p>Fecha de Finalización:  {{challenge.ending_date | date:'d/M/yy'}}</p>
              <span style="color:blue">{{challenge.comments}}</span>
            </div>             
            
            <div class="col-md-3" ng-if="!challenge.sent && !challenge.accepted">
            <a href="#completar_desafio/{{challenge.id}}">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Completar</button>
            </a>

            </div>   
          </div>


          </div>

          <div ng-repeat="task_story in task_stories" ng-class="{'showback-task': !task_story.sent , 'showback-task-grey': task_story.sent, 'showback-task-green': task_story.accepted }">
          <div class="row">
            <div class="col-md-9">
              
              <h4 ng-if="task_story.story_have_not_template == false">{{task_story.task.name}}</h4>   
              <h4 ng-if="task_story.story_have_not_template == true">{{task_story.name_not_template}}</h4>
              <p>{{task_story.task.description}}</p>
              <p>Fecha de Inicio:  {{task_story.start_date | date:'d/M/yy'}}</p>
              <p>Fecha de Finalización:  {{task_story.ending_date | date:'d/M/yy'}}</p>
              <br>
              <span style="color:blue">{{task_story.comments}}</span>

            </div>             
            
            <div class="col-md-3" ng-if="!task_story.sent && !task_story.accepted">
            <a href="#completar_tarea/{{task_story.id}}">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Completar</button>
            </a>

            </div>   
          </div>


          </div>
        </div>
      </div>

  </div>
          
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->