 <div>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6" ng-show="showAdmin || showManager">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{companiesNumber}}</h3>

              <p>Empresas</p>
            </div>
            <div class="icon">
              <i class="ion ion-briefcase"></i>
            </div>
            <a href="#empresas" class="small-box-footer" data-toggle="tooltip" title="Aquí puede crear una nueva empresa o ver las existentes">Ver Empresas <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-show="showAdmin || showManager">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{levelsNumber}}</h3>

              <p>Niveles</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#niveles" class="small-box-footer" data-toggle="tooltip" title="Aquí puede crear un nuevo nivel o ver los existentes">Ver Niveles <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-show="showAdmin || showManager">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{usersNumber}}</h3>

              <p>Usuarios</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#usuarios" class="small-box-footer" data-toggle="tooltip" title="Aquí puede ver y gestionar los usuarios existentes">Ver Usuarios <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6" ng-show="showAdmin || showManager">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{stagesNumber}}</h3>

              <p>Etapas</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-infinite"></i>
            </div>
            <a href="#plantillas" class="small-box-footer" data-toggle="tooltip" title="Aquí puede crear o ver las etapas existentes">Ver Etapas <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="showAdmin || showManager">
          <div class="info-box">
            <span class="info-box-icon bg-navy"><i class="fa fa-building-o"></i></span>

            <div class="info-box-content">
              <span>Número de Empresas Graduadas</span>
              <span class="info-box-number">{{numberGraduated}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="showAdmin || showManager">
          <div class="info-box">
            <span class="info-box-icon"><i class="fa fa-group"></i></span>

            <div class="info-box-content">
              <span>Número de Empleados de Incubados</span>
              <span class="info-box-number">{{numberEmployees}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="showAdmin || showManager">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-money"></i></span>

            <div class="info-box-content">
              <span>Salario Mensual Pagado por Incubados</span>
              <span class="info-box-number">{{totalSalary}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12" ng-show="showAdmin || showManager">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-dollar"></i></span>

            <div class="info-box-content">
              <span>Ganancias de último periodo de la Incubadora</span>
              <span class="info-box-number">{{incubatorEarnings}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-12 connectedSortable">

          
          <!-- /.box -->

          <!-- TO DO List -->
          <div class="box box-primary">
            <div class="box-header">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Tareas Pendientes</h3>

             
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="todo-list">
                <li ng-repeat="challenge in challenges">
                  <!-- drag handle -->
                  <a href="#completar_desafio/{{challenge.id}}">
                  <span>                    
                    <i class="fa fa-rocket"></i>
                  </span>
                 
                  <!-- todo text -->
                  <span class="text">{{challenge.name}}</span>
                  </a>
                  <!-- Emphasis label -->
                  <small class="label label-default"><i class="fa fa-clock-o"></i> {{challenge.ending_date | date:'medium'}}</small>
                  
                </li>
                <li ng-repeat="taskstory in taskstories">
                  <!-- drag handle -->
                  <a href="#completar_tarea/{{taskstory.id}}">
                  <span>                    
                    <i class="fa fa-list"></i>
                  </span>
                 
                  <!-- todo text -->
                  <span class="text">{{taskstory.name_not_template}}</span>
                  </a>
                  <!-- Emphasis label -->
                  <small class="label label-default"><i class="fa fa-clock-o"></i> {{taskstory.ending_date | date:'medium'}}</small>
                  
                </li>

              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix no-border">
              <a href="#crear_tarea_usuario">
              <button type="button" class="btn btn-default pull-left"><i class="fa fa-plus"></i> Crear Tarea</button>
              </a>
            </div>
          </div>

          

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </div>