<ol class="breadcrumb">
    <li>
    
        <a href="http://pts.hezionstudios.com/sistema/" ng-click="fileNavigator.goTo(-1)">
            Inicio |
        </a>
        <a href="" ng-click="fileNavigator.goTo(-1)">
            {{"filemanager" | translate}}
        </a>
    </li>
    <li ng-repeat="(key, dir) in fileNavigator.currentPath track by key" ng-class="{'active':$last}" class="animated fast fadeIn">
        <a href="" ng-show="!$last" ng-click="fileNavigator.goTo(key)">
            {{dir | strLimit : 8}}
        </a>
        <span ng-show="$last">
            {{dir | strLimit : 12}}
        </span>
    </li>
</ol>