<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_insignia"><button type="button" class="btn btn-default">Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="badge in badges">
          <div class="row">

            <div class="col-md-2" ng-if="badge.image">
              <img ng-src="{{badge.image}}" class="thumb"/>
            </div>
            <div class="col-md-3">
              
              <h4>{{badge.name}}</h4>   
              <p>{{badge.description}}</p>  
              
              <a href="#editar_insignia/{{badge.id}}"><button type="button" class="btn btn-primary">Editar</button></a>
              <a ng-click="delete(badge.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>
            </div>
           
          </div>                
        </div><!-- /showback -->
				
			</div>
			
		
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->