<section id="main-content">

  <div class="row mt">
   <div class="col-lg-12 col-md-12 col-sm-12">

    <form class="form" name="myForm">
      <div class="form-group has-feedback">
        <input ng-model="new_badge.name" type="text" class="form-control" placeholder="Nombre" required>

        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <textarea ng-model="new_badge.description" class="form-control" rows="5" id="description" placeholder="Descripción"></textarea>
        <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
       <input class="form-group has-feedback" type="file" ngf-select ng-model="picFile" name="file"    
       accept="image/*" ngf-max-size="500KB" required ngf-model-invalid="errorFile" width="100px" height="100px">
       <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
       <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
      </div>
      
      <i ng-show="myForm.file.$error.maxSize">Archivo muy grande 
      {{errorFile.size / 1000000|number:1}}MB: max 500KB</i>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
        ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>




      <div class="row">

        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" ng-disabled="!myForm.$valid" 
          ng-click="uploadPic(picFile)" class="btn btn-primary btn-block btn-flat">Crear</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


  </section>