<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_ciclo/{{thisTaxonomy}}"><button type="button" class="btn btn-default">Crear Nuevo</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback-cycle" ng-repeat="cycle in cycles">
          <div class="row">
            <div class="col-md-3">
              
              <h4>{{cycle.name}}</h4>       
              <p>{{cycle.description}}</p>

            </div>                
          </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#editar_ciclo/{{cycle.id}}"><button type="button" class="btn btn-default">Editar</button></a>
            <a href="#tareas/{{cycle.id}}"><button type="button" class="btn btn-primary">Gestionar Tareas</button></a>
            <a ng-click="delete(cycle.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>            
          </div>
        </div>
				
			</div>
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->