<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_etapa/{{thisTemplate}}"><button type="button" class="btn btn-default">Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback-stage" ng-repeat="stage in stages">
          <div class="row">
            <div class="col-md-3">
              
              <h4>{{stage.name}}</h4>       
              <p>{{stage.description}}</p>
              <a href="{{stage.externalFilesFolder}}">{{stage.externalFilesFolder}}</a>

            </div>                
          </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#editar_etapa/{{stage.id}}"><button type="button" class="btn btn-default">Editar</button></a>
            <a href="#tareas/{{stage.id}}"><button type="button" class="btn btn-primary">Gestionar Tareas</button></a>
            <a ng-click="delete(stage.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>            
          </div>
        </div>
				
			</div>
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->