<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        
				<!-- BASIC BUTTONS -->
        
        <div class="showback-task">
          <form name="myForm">
            <div class="row">
              <div class="col-md-10">
                
                <div class="form-group has-feedback">
                  <input ng-model="task_story.name" type="text" class="form-control" placeholder="Nombre" required>
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <textarea ng-model="task_story.description" class="form-control" rows="5" id="description" placeholder="Descripción" required></textarea>
                  <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  Etapa:<br>
                  <select class="form-control" ng-model="task_story.stageId" ng-options="stage.name for stage in stages track by stage.id" required>
                  
                  
                  </select>
                </div>
                
                
                <p>Inicio:</p>
                       
                <input type="date" ng-model="task_story.start_date" class="form-control pull-right">

                <p>Fin:</p>
                
                <input type="date" ng-model="task_story.ending_date" class="form-control pull-right">
                <p>Área:</p>
                <select class="form-control" ng-model="task_story.task_area_id" ng-options="task_area.name for task_area in task_areas track by task_area.id">
                </select>

                <p>Status:</p>
                <select class="form-control" ng-model="task_story.status_id" ng-options="status.name for status in all_status track by status.id">
                </select>

                <p>Puntaje:</p>
                <input type="number" ng-model="task_story.points" class="form-control pull-right">

                <p>Encargado:</p>                
                <angucomplete id="in_charge_id"
              placeholder="Encargado"
              pause="100"
              selectedobject="inChargeId"
              localdata="users"
              searchfields="username"
              titlefield="username"
              minlength="1"
              inputclass="form-control form-control-small" ng-model="inChargeId"/>
               

              </div>   
              
              
            </div>
          <div class="row">
            <div class="col-md-12">
              <span style="color:red">{{errorMessage}}</span><br>
              <button ng-click="save()" type="submit" class="btn btn-primary">Guardar</button>
              
              <!--<a ng-click="delete(task_s.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>-->
            </div>
          </div>
				</form>
			</div>
      
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->