<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_tarea/{{thisStage}}"><button type="button" class="btn btn-default">Crear Nueva</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback-task" ng-repeat="task in tasks">
          <div class="row">
            <div class="col-md-3">
              
              <h4>{{task.name}}</h4>       
              <p>{{task.description}}</p>

            </div>                
          </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#editar_tarea/{{task.id}}"><button type="button" class="btn btn-default">Editar</button></a>
            
            <a ng-click="delete(task.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>            
          </div>
        </div>
				
			</div>
	
			
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->