<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       
<form ng-submit="send()">
      Compañía o Usuario:<br>
      <b ng-if="pending_object.story_have_not_template == false">{{ pending_object.company.name }}</b> 
      <b ng-if="pending_object.story_have_not_template == true">{{ pending_object.in_charge.username }}</b> <br><br>
      Nombre:<br>
      <b ng-if="pending_object.story_have_not_template == false">{{pending_object.task.name}}</b>   
      <b ng-if="pending_object.story_have_not_template == true">{{pending_object.name_not_template}}</b><br><br>
      Descripción:<br>
      <p ng-if="pending_object.story_have_not_template == false">{{pending_object.task.description}}</p>   
      <p ng-if="pending_object.story_have_not_template == true">{{pending_object.description_not_template}}</p>

      
      Entrega enviada por la persona a cargo:<br>
      {{pending_object.delivery_text}}<br>
      <a href="{{pending_object.delivery_file}}">{{pending_object.delivery_file}}</a>

      <br><br>

      <textarea ng-model="new_task.comments" class="form-control" rows="5" id="description" placeholder="Comentarios" required></textarea>
      <br>
      <div class="form-group has-feedback">
        Tarea completada: <input ng-model="new_task.ready" type="checkbox"><br>
        <b>(Marcar si la tarea fue realizada satisfactoriamente, dejar desmarcado si la entrega no fue satisfactoria y se debe repetir)</b>
        
      </div>


      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
        </div>
        
        <!-- /.col -->
      </div>
    </form>


		</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->