<section id="main-content">
    <section>
		<div class="row mt">
    
			<div class="col-lg-12 col-md-12 col-sm-12">
      <select ng-change="changeCompany(companyId.id)" class="form-control" ng-model="companyId" ng-options="company.name for company in companies track by company.id" required>  
      </select>
      
        <div class="row">
          
        </div>
        <div class="row">
          <div class="col-md-12">
            <center>
            <div class="col-md-2">
              <p><h3>{{currentCompany.name}}</h3></p>
              <div class="row">
                <img ng-src="{{currentCompany.image}}" class="thumb"/><br>
              </div>
            </div>
            <div class="col-md-2">
              <p><h3>Nivel</h3></p>
              <div class="row">
                
                <img ng-src="{{level.image}}" class="thumb"/><br>
                
                  {{level.name}}
                
                
              </div>
            </div>
            <div class="col-md-3">
              <p><h3>Etapa Actual</h3></p>
              <div class="row">
                <h4>{{stage.name}}</h4>
                <a href="{{stage.externalFilesFolder}}">{{stage.externalFilesFolder}}</a>
              </div>
              <div class="row">
                <p><h3>Puntaje</h3></p>
                <h4>{{points}}</h4>                
              </div>
            </div>
            <div class="col-md-5">
              <h3>Insignias</h3>
              <p>{{descriptionBadge}}</p>
              <div class="row">
                 <div class="row" ng-if="company_badges.length > 0">
                  <img ng-repeat="badge in company_badges" width= "80px" ng-src="badge.image" ng-mouseover="descriptionBadgeF(badge)" class="thumb">
                </div>
                
            
              </div>
            </div>
            </center>
          </div>
        </div>
      
      
       
      <div class="row">
        <hr>
        <div class="col-md-12">
          <h4>Tareas</h4>
          <a href="">
            <button type="submit" class="btn btn-default btn-block btn-flat">Crear Nueva</button><br>
          </a>

          

          <div class="showback-task" ng-repeat="task_story in task_stories">
          <div class="row">
            <div class="col-md-9">
              
              <h4>{{task_story.task.name}}</h4>       
              <p>{{task_story.task.description}}</p>
              <p>Fecha de Inicio:  {{task_story.start_date | date:'d/M/yy'}}</p>
              <p>Fecha de Finalización:  {{task_story.ending_date | date:'d/M/yy'}}</p>
              <br>
              {{task_story.comments}}

            </div>             
            
            <div class="col-md-3" ng-if="!task_story.sent">
            <a href="#completar_tarea/{{task_story.id}}">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Completar</button>
            </a>

            </div>   
          </div>
        
        
      </div>
        </div>
      </div>

	</div>
					
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->