<section id="main-content">
    <section>
    <div class="row mt">
      <div class="col-lg-12 col-md-12 col-sm-12">
       
<form>
      <div class="form-group has-feedback">
        
        <p><strong>{{new_challenge.name}}</strong></p>
        
      </div>
      <div class="form-group has-feedback">
        <p>{{new_challenge.description}}</p>
        
        
      </div>
      <div class="form-group has-feedback">
        <textarea ng-model="new_challenge.delivery_text" class="form-control" rows="5" id="delivery_text" placeholder="Entrega" required></textarea>
        
        <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
       <input class="form-group has-feedback" type="file" ngf-select ng-model="picFile" name="file"    
       ngf-max-size="500KB" ngf-model-invalid="errorFile" width="100px" height="100px">
      
       <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      
      




      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-2">
          <button type="submit" ng-click="send(picFile)" class="btn btn-primary btn-block btn-flat">Enviar</button>
        </div>
        
        <!-- /.col -->
      </div>
    </form>


    </div>
          
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->