<section id="main-content">
    <section>
    <div class="row mt">
      <div class="col-lg-12 col-md-12 col-sm-12">
       
<form ng-submit="send()">
      <div class="form-group has-feedback">
        
        <p><strong>{{new_task.name}}</strong></p>
        
      </div>
      <div class="form-group has-feedback">
        <p>{{new_task.description}}</p>
        
        
      </div>
      <div class="form-group has-feedback">
        <textarea ng-model="new_task_story.delivery_text" class="form-control" rows="5" id="delivery_text" placeholder="Entrega" required></textarea>
        
        <span class="glyphicon glyphicon-align-justify form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
       <input class="form-group has-feedback" type="file" ngf-select ng-model="picFile" name="file"    
       ngf-max-size="500KB" ngf-model-invalid="errorFile" width="100px" height="100px">
       <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
       <span class="glyphicon glyphicon-file form-control-feedback"></span>
      </div>
      
      <i ng-show="myForm.file.$error.maxSize">Archivo muy grande 
      {{errorFile.size / 1000000|number:1}}MB: max 500KB</i>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
        ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>




      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-2">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
        </div>
        
        <!-- /.col -->
      </div>
    </form>


    </div>
          
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->