<section id="main-content">
    <section>
		<div class="row mt">
			<div class="col-lg-12 col-md-12 col-sm-12">
       

        <a href="#crear_nivel"><button type="button" class="btn btn-default">Crear Nuevo</button></a>
				<!-- BASIC BUTTONS -->
        <div class="showback" ng-repeat="level in levels">
          <div class="row">

            <div class="col-md-2" ng-if="level.image">
              <img ng-src="{{level.image}}" class="thumb"/>
            </div>
            <div class="col-md-3">
              
              <h4>{{level.name}}</h4>   
              <p>{{level.description}}</p>  
              
              <a href="#editar_nivel/{{level.id}}"><button type="button" class="btn btn-primary">Editar</button></a>
              <a ng-click="delete(level.id)"><button type="button" class="btn btn-danger">Eliminar</button></a>
            </div>
           
          </div>                
        </div><!-- /showback -->
				
			</div>
			
		
		</div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->