<section id="main-content">
    <section>
    <div class="row mt">
      	<div class="col-lg-12 col-md-12 col-sm-12">
       
       <div ng-repeat="log in logs" class="showback">
       	<p ng-if="log.story_have_not_template == false && !log.sent && !log.accepted">El usuario <b>{{log.creator.username}}</b> ha <span style="color:blue">asignado</span> la tarea <b>{{log.task.name}}</b> al usuario <b>{{log.in_charge.username}}</b></p>   

        <p ng-if="log.story_have_not_template == true && !log.sent && !log.accepted">El usuario <b>{{log.creator.username}}</b> ha <span style="color:blue">asignado</span> la tarea <b>{{log.name_not_template}}</b> al usuario <b>{{log.in_charge.username}}</b> </p>

        <p ng-if="log.story_have_not_template == false && log.sent && !log.accepted">El usuario <b>{{log.in_charge.username}}</b> ha <span style="color:#9e9e05">enviado</span> la tarea <b>{{log.task.name}}</b> para su corrección</b></p>   

        <p ng-if="log.story_have_not_template == true && log.sent && !log.accepted">El usuario <b>{{log.in_charge.username}}</b> ha <span style="color:#9e9e05">enviado</span> la tarea <b>{{log.name_not_template}} para su corrección</b></p>

        <p ng-if="log.story_have_not_template == false && log.accepted">El usuario <b>{{log.in_charge.username}}</b> ha <span style="color:#00d000">culminado</span> la tarea <b>{{log.task.name}}</b> </b></p>   

        <p ng-if="log.story_have_not_template == true && log.accepted">El usuario <b>{{log.in_charge.username}}</b> ha <span style="color:#00d000">culminado</span> la tarea <b>{{log.name_not_template}}</b></p>

        <small class="label label-default"><i class="fa fa-clock-o"></i> {{log.sent_date | date:'medium'}}</small>
        
       	
       </div>



    	</div>
          
    </div><!--/ row -->
    </section>
</section><!-- /MAIN CONTENT -->